# CMake Build
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.a


# Python & Virtual Environments
.venv/
__pycache__/
*.pyc

# Simulation Output & Media
*.png
*.gif
*.mp4
*.npz
*.csv
*.bin